<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fdu.kaoyanrank.mapper.ExamScoreMapper">

    <insert id="insert" parameterType="fdu.kaoyanrank.entity.ExamScore" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO exam_score (exam_no_hash, english_score, politics_score, math_score, score_408)
        VALUES (#{examNoHash}, #{englishScore}, #{politicsScore}, #{mathScore}, #{score408})
    </insert>

    <select id="selectAllScores" resultType="fdu.kaoyanrank.entity.ExamScore">
        SELECT english_score AS englishScore, politics_score AS politicsScore, math_score AS mathScore, score_408 AS score408
        FROM exam_score
    </select>

    <select id="selectByExamNoHash" resultType="fdu.kaoyanrank.entity.ExamScore">
        SELECT id, exam_no_hash AS examNoHash, english_score AS englishScore, politics_score AS politicsScore, math_score AS mathScore, score_408 AS score408
        FROM exam_score
        WHERE exam_no_hash = #{examNoHash}
    </select>
</mapper>
